# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WAV and Reaper files
*.wav
*.reapeaks

# VIM
*~
*.swp
*.orig
*.pyc
.Rhistory
tags

# CMake
CMakeLists.txt.user
**/build*/
/.cproject
/.project

# Doxygen
/doc/html/*

# YCM
/external/
